@charset "UTF-8";

body {
	background-color: #ceadbf;
}

textarea {
	resize: none;
	height: 20rem;
}

.card-img {
	height: 7rem;
	width: fit-content;
}

.card-bg {
	background-color: #d49fbb;
}

.card-text-height {
	height: 20rem;
}

.card-title-height{
	max-height: 5rem;
}