<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<description>Note Taker Application</description>
	<servlet>
		<servlet-name>CreateNote</servlet-name>
		<display-name>CreateNote</display-name>
		<description>Servlet for Adding A New Note To DB</description>
		<servlet-class>servlets.CreateNote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateNote</servlet-name>
		<url-pattern>/CreateNote</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>JDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
